{{ define "app" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<div class="main">
			<!-- render this form when get request to /app is made, then capture form response and register to pool -->
			{{ if .RegisterToPool }}

			<form action="/app" method="post">
				<input type="hidden" name="poolId" value="{{ .PoolId }}" />

				<label for="clientName">Enter your name to join:</label>
				<input
					type="text"
					name="clientName"
					id="clientName"
					value="p1"
					required
					autofocus
				/>

				<button type="submit">Join</button>
			</form>

			{{ end }}

			<!-- render this form when post request to /app is made, render this form for chat msgs and then estalblish socket connection -->
			{{ if .ConnectSocket }}

			<div class="members"></div>
			<div class="messages"></div>
			<form>
				<label for="msg">Chat:</label>
				<input type="text" class="msg" required />

				<button class="send-msg">Send</button>
			</form>

			<canvas class="canv"></canvas>

			<!-- if game has not started then render this part -->
			{{ if eq .HasGameStarted "" }}

			<div class="start-game">
				<div>
					Waiting for others to join, starting game in
					<span class="loading">120</span> seconds
					<!-- to be added in config -->
				</div>
				<button class="start-game-btn">Start now</button>
			</div>

			{{ end }}

			<script>
				const poolId = '{{ .PoolId }}';
				const clientId = '{{ .ClientId }}';
				const clientName = '{{ .ClientName }}';
				const clientColor = '{{ .ClientColor }}';
				const gameStartsInSeconds = Math.ceil(
					Number('{{ .GameStartsInSeconds }}')
				);
				const hasGameStarted = Boolean('{{ .HasGameStarted }}');
			</script>

			<script src="public/app.js"></script>

			{{ end }}

			<!-- if pool does not exist or some error occurs then render message only, render this part when .Message is not "empty" -->
			{{ if ne .Message "" }}

			<p>{{ .Message }}</p>

			{{ end }}
		</div>
	</body>
</html>

{{ end }}
