{{ define "app" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<div class="main">
			<!-- game bar -->
			<div class="game-bar">
				<div class="gb-item timer">
					<img src="public/assets/images/setting_2.gif" alt="" />
					<span class="img-sub">0s</span>
				</div>

				<div class="gb-item round">
					<img src="public/assets/images/setting_3.gif" alt="" />
					<span class="img-sub">
						<span class="curr-round">0</span>/{{ .Rounds }}
					</span>
				</div>

				<div class="gb-item word">
					<span class="status">Waiting</span>
					<span class="content">Game will start soon</span>
				</div>

				<div class="gb-item joining-link-div">
					<button class="btn joining-link-btn">Copy joining link</button>
				</div>
			</div>

			<!-- canvas -->
			<div class="canvas-container">
				<div id="overlay">
					<div class="overlay-content">
						<div>
							<p class="overlay-text">Waiting for others to join!</p>
						</div>

						<div>
							<button class="btn start-game-btn">Start now</button>
						</div>
					</div>
				</div>

				<canvas class="canv"></canvas>

				<div class="painter-utils hidden">
					<button class="btn clear-canvas">Clear</button>
				</div>
			</div>

			<!-- members and chat container -->
			<div class="mc-container">
				<div class="side members"></div>
				<div class="side messages"></div>
			</div>

			<!-- chat box -->
			<div class="chat-box">
				<form>
					<div class="input-wrapper">
						<input
							type="text"
							class="msg"
							placeholder="Type your guess here"
							maxlength="50"
							required
						/>
						<span>0</span>

						<button class="btn send-msg">Send</button>
					</div>
				</form>
			</div>
		</div>

		<script>
			const poolId = '{{ .PoolId }}';
			const clientId = '{{ .ClientId }}';
			const clientName = '{{ .ClientName }}';
			const joiningLink = '{{ .JoiningLink }}';
		</script>
		<script src="public/javascript/main.js"></script>
	</body>
</html>

{{ end }}
