{{ define "app" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<div class="main">
			<!-- render this form when get request to /app is made, then capture form response and register to pool -->
			{{ if .RegisterToPool }}

			<div class="content">
				<div class="title"><h1>Scribble</h1></div>

				<form action="/app" method="post">
					<input type="hidden" name="poolId" value="{{ .PoolId }}" />

					<label class="form-label" for="clientName"
						>Enter your name to join:</label
					>
					<input
						type="text"
						name="clientName"
						id="clientName"
						maxlength="15"
						required
						autofocus
					/>

					<button class="btn" type="submit">Join</button>
				</form>

				{{ if .DEBUG }}

				<script>
					document.querySelector('#clientName').value =
						'doodler {{ .CurrentSize }}';
				</script>

				{{ end }}
			</div>

			{{ end }}

			<!-- render this form when post request to /app is made, render this form for chat msgs and then estalblish socket connection -->
			{{ if .ConnectSocket }}

			<div class="game-content">
				<!-- status bar -->
				<div class="status-bar">
					<div class="round"><span>Round: 0</span></div>

					<div class="word hidden"></div>

					<div class="time-left-for-word">
						<span>Waiting for game to start</span>
					</div>

					<div class="joining-link-div">
						<button class="btn joining-link">Copy joining link</button>
					</div>
				</div>

				<!-- canvas -->
				<div class="canvas-container">
					<div id="overlay">
						<div>
							<p>
								Waiting for others to join, starting game in
								<span class="loading">{{ .GameStartDurationInSeconds }}</span>
								seconds
							</p>

							<button class="btn start-game-btn">Start now</button>
						</div>
					</div>

					<canvas class="canv"></canvas>

					<div class="hidden painter-utils">
						<button class="btn clear-canvas">Clear</button>
					</div>
				</div>

				<!-- members and chat container -->
				<div class="mc-container">
					<div class="side members"></div>
					<div class="side messages"></div>
				</div>

				<!-- chat box -->
				<div class="chat-box">
					<form>
						<div class="input-wrapper">
							<input
								type="text"
								class="msg"
								placeholder="Type your guess here"
								maxlength="50"
								required
							/>
							<span>0</span>

							<button class="btn send-msg">Send</button>
						</div>
					</form>
				</div>

				<script>
					const poolId = '{{ .PoolId }}';
					const clientId = '{{ .ClientId }}';
					const clientName = '{{ .ClientName }}';
					const clientColor = '{{ .ClientColor }}';
					const gameStartTime = new Date('{{ .GameStartTime }}').getTime();
					const joiningLink = '{{ .JoiningLink }}';
				</script>

				<script src="public/javascript/utils.js"></script>
				<script src="public/javascript/canvas.js"></script>
				<script src="public/javascript/onMsgHandlers.js"></script>
				<script src="public/javascript/socket.js"></script>
				<script src="public/javascript/main.js"></script>
			</div>

			{{ end }}

			<!-- if pool does not exist or some error occurs then render message only, render this part when .Message is not "empty" -->
			{{ if ne .Message "" }}

			<div class="content">
				<p>{{ .Message }}</p>
			</div>

			{{ end }}
		</div>
	</body>
</html>

{{ end }}
