{{ define "createRoom" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<main class="main">
			<div class="content">
				<div>
					<div class="title"><h1>Scribble</h1></div>

					<div class="subtext">
						<p>Create your own private room</p>
					</div>

					<div class="form-container">
						<form action="/create-room" method="post">
							<div class="form-content">
								<div>
									<label class="form-label" for="capacity">Room size:</label>
									<input
										type="number"
										name="capacity"
										class="capacity"
										id="capacity"
										min="2"
										max="10"
										placeholder="4"
										required
									/>
								</div>
								<div>
									<button class="btn create-room-btn" type="submit">
										Create
									</button>
								</div>
							</div>
						</form>
					</div>

					{{ if .RoomCreated }}

					<div class="room-created-container">
						<div>
							<a href="{{ .Link }}" class="link"
								><button class="btn">Click here to join!</button></a
							>
						</div>

						<div title="Copy joining link">
							<button class="btn btni copy-link-btn">
								<div>
									<div>
										<span>Copy link</span>
									</div>

									<div class="img-container">
										<img
											src="public/assets/copy.png"
											alt="copy icon"
											class="copy-link-img"
										/>
									</div>
								</div>
							</button>
						</div>
					</div>

					<!-- run this code only when the room-created-container is rendered -->
					<script>
						// copy to clipboard
						const aTag = document.querySelector('.link');
						document
							.querySelector('.copy-link-img')
							.addEventListener('click', () =>
								navigator.clipboard.writeText(aTag.href)
							);

						// disable create btn
						document.querySelector('.create-room-btn').disabled = true;

						// populate capacity in input field
						document.getElementById('capacity').value = '{{ .Capacity }}';
					</script>

					{{ end }}
				</div>
			</div>
		</main>

		{{ if .debug }}
		<script>
			document.querySelector('#capacity').value = 4;
			document.querySelector('.link') &&
				(document.querySelector('.link').href =
					'http://localhost:1323/app?join=debug');
		</script>
		{{ end }}
	</body>
</html>

{{ end }}
