{{ define "createPool" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<main class="main">
			<div class="content">
				<div class="title"><h1>Scribble</h1></div>

				<div class="subtext">
					<p>Create a private room</p>
				</div>

				<form action="/create-pool" method="post">
					<label class="form-label" for="capacity">Room size:</label>
					<input
						type="number"
						name="capacity"
						min="2"
						max="10"
						required
						value="4"
					/>
					<button class="btn form-btn" type="submit">Create a new room</button>
				</form>

				{{ if .RoomCreated }}

				<a href="{{ .Link }}" class="copy-link"
					><button class="btn">Click here to join</button></a
				>

				<button class="btn copy-link-btn">Copy link</button>

				<script>
					const aTag = document.querySelector('.copy-link');
					document
						.querySelector('.copy-link-btn')
						.addEventListener('click', () =>
							navigator.clipboard.writeText(aTag.href)
						);

					document.querySelector('.form-btn').disabled = true;
				</script>

				{{ end }}
			</div>
		</main>
	</body>
</html>

{{ end }}
