{{ define "createRoom" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<main class="main">
			<div class="content">
				<div class="content-container">
					<div class="title"><h1>Scribble</h1></div>

					<div class="subtext">
						<p>Create a private room</p>
					</div>

					<div class="form-container">
						<form action="/create-room" method="post">
							<div class="form-content">
								<div>
									<label class="form-label" for="capacity">Room size:</label>
									<input
										type="number"
										name="capacity"
										id="capacity"
										min="2"
										max="10"
										required
									/>
								</div>
								<div>
									<button class="btn create-form-btn" type="submit">
										Create
									</button>
								</div>
							</div>
						</form>
					</div>

					{{ if .RoomCreated }}

					<div class="room-created-container">
						<div>
							<a href="{{ .Link }}" class="copy-link"
								><button class="btn">Click here to join</button></a
							>
						</div>

						<div class="img-container">
							<div title="Copy joining link">
								<img
									src="public/assets/copy.png"
									alt="copy icon"
									class="copy-link-icon"
								/>
							</div>
						</div>

						<script>
							const aTag = document.querySelector('.copy-link');
							document
								.querySelector('.copy-link-icon')
								.addEventListener('click', () =>
									navigator.clipboard.writeText(aTag.href)
								);

							document.querySelector('.create-form-btn').disabled = true;
						</script>
					</div>

					{{ end }}

					<!-- run the below script only in debug mode -->
					{{ if .DEBUG }}

					<script>
						document.querySelector('#capacity').value = 4;
					</script>

					{{ end }}
				</div>
			</div>
		</main>
	</body>
</html>

{{ end }}
