{{ define "createRoom" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<main class="main">
			<div class="form-container">
				<form action="/create-room" method="post">
					<div class="form-content">
						<div>
							<div class="form-image-and-label">
								<img src="public/assets/images/setting_1.gif" alt="" />
								<label class="form-label" for="players">Players</label>
							</div>
							<div class="form-select">
								<select id="players" name="players">
									{{ range .Players }} {{ if .Selected }}
									<option value="{{.Key}}" selected>{{.Key}}</option>
									{{ else }}
									<option value="{{.Key}}">{{.Key}}</option>
									{{ end }} {{ end }}
								</select>
							</div>
						</div>

						<div>
							<div class="form-image-and-label">
								<img src="public/assets/images/setting_2.gif" alt="" />
								<label class="form-label" for="drawTime">Draw time</label>
							</div>
							<div class="form-select">
								<select id="drawTime" name="drawTime">
									{{ range .DrawTime }} {{ if .Selected }}
									<option value="{{.Key}}" selected>{{.Key}}</option>
									{{ else }}
									<option value="{{.Key}}">{{.Key}}</option>
									{{ end }} {{ end }}
								</select>
							</div>
						</div>

						<div>
							<div class="form-image-and-label">
								<img src="public/assets/images/setting_3.gif" alt="" />
								<label class="form-label" for="rounds">Rounds</label>
							</div>
							<div class="form-select">
								<select id="rounds" name="rounds">
									{{ range .Rounds }} {{ if .Selected }}
									<option value="{{.Key}}" selected>{{.Key}}</option>
									{{ else }}
									<option value="{{.Key}}">{{.Key}}</option>
									{{ end }} {{ end }}
								</select>
							</div>
						</div>

						<div>
							<div class="form-image-and-label">
								<img src="public/assets/images/setting_4.gif" alt="" />
								<label class="form-label" for="wordMode">Word Mode</label>
							</div>
							<div class="form-select">
								<select id="wordMode" name="wordMode">
									{{ range .WordMode }}
									<option value="{{.Key}}">{{.Value}}</option>
									{{ end }}
								</select>
							</div>
						</div>

						<div>
							<div class="form-image-and-label">
								<img src="public/assets/images/setting_5.gif" alt="" />
								<label class="form-label" for="wordCount">Word Count</label>
							</div>
							<div class="form-select">
								<select id="wordCount" name="wordCount">
									{{ range .WordCount }} {{ if .Selected }}
									<option value="{{.Key}}" selected>{{.Key}}</option>
									{{ else }}
									<option value="{{.Key}}">{{.Key}}</option>
									{{ end }} {{ end }}
								</select>
							</div>
						</div>

						<div>
							<div class="form-image-and-label">
								<img src="public/assets/images/setting_6.gif" alt="" />
								<label class="form-label" for="hints">Hints</label>
							</div>
							<div class="form-select">
								<select id="hints" name="hints">
									{{ range .Hints }} {{ if .Selected }}
									<option value="{{.Key}}" selected>{{.Key}}</option>
									{{ else }}
									<option value="{{.Key}}">{{.Key}}</option>
									{{ end }} {{ end }}
								</select>
							</div>
						</div>
					</div>

					<div class="form-btn-container">
						<button class="btn create-room-btn" type="submit">Create</button>
					</div>
				</form>
			</div>

			{{ if .RoomCreated }}

			<div class="container room-created-container">
				<div>
					<a href="{{ .Link }}" class="link"
						><button class="btn">Click here to join!</button></a
					>
				</div>

				<div title="Copy joining link">
					<button class="btn btni copy-link-btn">
						<div>
							<div>
								<span>Copy link</span>
							</div>

							<div class="img-container">
								<img
									src="public/assets/images/copy.png"
									alt="copy icon"
									class="copy-link-img"
								/>
							</div>
						</div>
					</button>
				</div>
			</div>

			<script>
				// copy to clipboard
				const aTag = document.querySelector('.link');
				document
					.querySelector('.copy-link-img')
					.addEventListener('click', () =>
						navigator.clipboard.writeText(aTag.href)
					);

				// disable create btn
				document.querySelector('.create-room-btn').disabled = true;

				// populate capacity in input field
				document.getElementById('players').value = '{{ .Capacity }}';
			</script>

			{{ end }}
		</main>

		{{ if .debug }}
		<script>
			document.querySelector('.link') &&
				(document.querySelector('.link').href =
					'http://localhost:1323/app?join=debug');
		</script>
		{{ end }}
	</body>
</html>

{{ end }}
