{{ define "createPool" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		{{ if eq .Link "" }}

		<form action="/create-pool" method="post">
			<input
				type="number"
				name="capacity"
				min="2"
				max="10"
				required
				value="2"
			/>
			<button type="submit">Create a new link</button>
		</form>

		{{ else }}

		<a href="{{ .Link }}" class="copy-link">Click here to join</a>

		<button class="copy-link-btn">Copy link</button>

		<script>
			const aTag = document.querySelector('.copy-link');
			document
				.querySelector('.copy-link-btn')
				.addEventListener('click', () =>
					navigator.clipboard.writeText(aTag.href)
				);
		</script>

		{{ end }}
	</body>
</html>

{{ end }}
