{{ define "join" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<main class="main">
			<div class="content">
				{{ if .CanJoin }}
				<div>
					<div class="title"><h1>Scribble</h1></div>

					<div class="form-container">
						<form action="/app" method="post">
							<div class="form-content register-form">
								<input type="hidden" name="poolId" value="{{ .PoolId }}" />

								<div class="">
									<label class="form-label" for="clientName"
										>Enter your name to join:</label
									>
									<input
										type="text"
										name="clientName"
										id="clientName"
										maxlength="15"
										required
										autofocus
									/>
								</div>
							</div>

							<div>
								<button class="btn" type="submit">Join</button>
							</div>
						</form>
					</div>

					{{ if .debug }}

					<script>
						document.querySelector('#clientName').value =
							'doodler {{ .CurrentSize }}';
					</script>

					{{ end }}
				</div>

				<!-- if pool does not exist or some error occurs then render message only, render this part when .Message is not "empty" -->
				{{ else }}

				<div>
					<p>{{ .Message }}</p>
				</div>

				{{ end }}
			</div>
		</main>
	</body>
</html>

{{ end }}
