{{ define "welcome" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<div class="bg">
			<main class="main">
				<div class="content">
					<div class="title"><h1>Scribble</h1></div>

					<div class="subtext">
						<p>
							A multiplayer drawing game where you sketch a word and others try
							to guess it!
						</p>
					</div>

					<a class="welcome-start-playing" href="/create-room"
						><button class="btn">Start playing</button></a
					>
				</div>
			</main>
		</div>
	</body>
</html>

{{ end }}
