{{ define "welcome" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<main class="main">
			<div class="content">
				<div>
					<div class="title"><h1>Scribble</h1></div>

					<div class="subtext">
						<p>
							A multiplayer drawing game where you sketch a word and others try
							to guess it!
						</p>
					</div>

					<div>
						<a href="/create-room"
							><button class="btn">Start playing</button></a
						>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>

{{ end }}
