{{ define "welcome" }}

<!DOCTYPE html>
<html lang="en">
	{{ template "header" .}}

	<body>
		<main class="main">
			<div class="container logo">
				<img src="public/assets/images/logo.gif" alt="scribble logo" />
			</div>

			<div class="container start">
				<div>
					<input
						type="text"
						name="ownerName"
						class="ownerName"
						id="ownerName"
						maxlength="15"
						placeholder="Enter your name"
					/>
				</div>

				<div class="avatar-customisable">
					<div class="avc-lb-container">
						<div class="avc-btn eyes-left"></div>
						<div class="avc-btn mouth-left"></div>
						<div class="avc-btn color-left"></div>
					</div>

					<div class="avatar">
						<div class="color"></div>
						<div class="eyes"></div>
						<div class="mouth"></div>
						<div class="special"></div>
						<div class="owner"></div>
					</div>

					<div class="avc-rb-container">
						<div class="avc-btn eyes-right"></div>
						<div class="avc-btn mouth-right"></div>
						<div class="avc-btn color-right"></div>
					</div>

					<div class="randomize"></div>
				</div>

				<div>
					<a href="/create-room"
						><button class="btn play">Create private room</button></a
					>
				</div>
			</div>

			<div class="container about">
				<div class="title">
					<div class="title-image-container">
						<img src="public/assets/images/about.gif" alt="about" />
					</div>
					<h2 class="title-text">About</h2>
				</div>

				<div class="subtext">
					{{ range .AboutText }}
					<p>{{ . }}</p>
					<br />
					{{ end }}
					<p>Have fun!</p>
				</div>
			</div>

			<div class="container how-to-play">
				<div class="title">
					<div class="title-image-container">
						<img src="public/assets/images/how.gif" alt="how to play" />
					</div>
					<h2 class="title-text">How to play</h2>
				</div>

				<div class="slideshow-container">
					{{ range $i, $val := .HowToSlides }}
					<div class="slides fade">
						<img src="public/assets/images/tutorial/step{{$i}}.gif" />
						<p>{{ $val }}</p>
					</div>
					{{ end }}
				</div>
				<br />

				<div class="dot-container">
					{{ range $id, $val := .HowToSlides }}
					<span class="dot" id="dot_{{$id}}"></span>
					{{ end }}
				</div>
			</div>
		</main>

		<script src="public/javascript/welcome.js"></script>
	</body>
</html>

{{ end }}
