:root {
	--status-bar-h: 25px;
}

.game-content {
	margin: 0 auto;
}

.status-bar {
	height: var(--status-bar-h);
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--white);
}

.status-bar > div:not(:last-child) {
	vertical-align: middle;
	width: fit-content;
	height: inherit;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 50px;
	box-shadow: 2px 5px 9px #888888;
}

.status-bar > div span {
	line-height: var(--status-bar-h);
	font-size: var(--fs-2);
}

.round {
	background-color: salmon;
}

.word {
	background-color: orange;
}

.time-left-for-word {
	background-color: lime;
}

.joining-link-div {
	transform: scale(0.9);
}

/*  */

.canvas-container {
	text-align: center;
}

canvas {
	margin: 2px;
	margin-top: 5px;
	background-color: white;
	cursor: pointer;
	border-radius: 3px;
}

#overlay {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
	font-size: var(--fs-3);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

#overlay > div {
	padding: 10px;
	margin: 0 auto;
}

.overlay-p {
	font-size: var(--fs-4);
	margin-bottom: 15px;
}

/* overlay pseudo classes */

.word-option {
	padding: 8px;
	background-color: rgb(50, 50, 50);
	border-radius: 5px;
	margin: 5px;
	border: 1px solid grey;
}

.word-option:hover {
	border: 1px solid var(--white);
}

/* overlay pseudo classes */

.painter-utils {
	position: absolute;
	right: 5px;
	/* status bar height plus 2*padding (5px) plus 5px margin for canvas */
	top: calc(var(--status-bar-h) + 15px);
}

.mc-container {
	height: 250px;
	display: flex;
	justify-content: center;
}

.side {
	width: 48%;
	margin-left: 2px;
	margin-right: 2px;
	background-color: var(--white);
	height: calc(inherit - 10px);
	text-align: center;
	vertical-align: middle;
	overflow-y: auto;
	border-radius: 3px;
}

.side .message:nth-child(even),
.side .member:nth-child(even) {
	background-color: #f2f2f2;
}

/* mc pseudo classes */

.member {
	background-color: rgb(240, 217, 188);
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

.member-num {
	font-size: var(--fs-1);
}

.member-name {
	font-size: var(--fs-2);
}

.member-score {
	font-size: var(--fs-0);
}

.message {
	font-size: var(--fs-1);
	background-color: lightgrey;
	padding: 4px;
	text-align: left;
}

/* mc pseudo classes */

.chat-box {
	margin-top: 6px;
	display: flex;
	justify-content: center;
	height: fit-content;
}

.input-wrapper {
	position: relative;
}

.chat-box input {
	height: 25px;
	width: 180px;
	padding-right: 30px;
	font-size: var(--fs-3);
}

.input-wrapper span {
	position: absolute;
	right: 60px;
	line-height: 25px;
	font-size: var(--fs-2);
}

.chat-box .btn {
	padding: 2px;
	width: 50px;
}
