:root {
	--status-bar-h: 26px;
}

.game-content {
	margin: 0 auto;
}

.btn {
	font-size: var(--fs-10);
	padding: 6px 8px 6px 8px;
	border-radius: 10px;
}

.status-bar {
	height: var(--status-bar-h);
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--white);
}

.status-bar > div:not(:last-child) {
	vertical-align: middle;
	text-align: center;
	width: fit-content;
	height: inherit;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 10px;
	border: 1px solid gray;
}

.status-bar > div span {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-10);
	line-height: var(--status-bar-h);
}

.round {
	background-color: salmon;
}

.word {
	background-color: orange;
	text-transform: uppercase;
}

.time-left {
	background-color: lime;
	width: 18px;
	min-width: 18px;
}

.time-left span {
	width: 18px;
	min-width: 18px;
}

/*  */

.canvas-container {
	text-align: center;
	height: fit-content;
	margin-top: 4px;
	margin-bottom: 4px;
}

canvas {
	background-color: var(--white);
	cursor: pointer;
	border-radius: 3px;
}

#overlay {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 2;
	cursor: pointer;
	font-size: var(--fs-13);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	/* fade in animation on overlay display */
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.painter-utils {
	position: absolute;
	right: 2px;
	/* status bar height + 2*padding (5px) + 5px margin for canvas */
	top: calc(var(--status-bar-h) + 17px);
}

/* overlay pseudo classes */

.overlay-content {
	padding: 10px;
	margin: 0 auto;
}

.overlay-content > div:not(:last-child) {
	margin-bottom: 15px;
}

.overlay-text {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-13);
}

.word-options {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.word-option {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-13);
	padding: 8px;
	background-color: rgb(50, 50, 50);
	border-radius: 5px;
	margin: 5px;
	border: 1px solid grey;
}

.word-option:hover {
	border: 1px solid var(--white);
}

.word-choose-timer {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-13);
	display: block;
	margin: 0 auto;
	width: 28px;
	min-width: 28px;
	padding: 4px;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}

/* overlay pseudo classes */

.mc-container {
	height: 250px;
	display: flex;
	justify-content: center;
}

.side {
	width: 48%;
	margin-left: 2px;
	margin-right: 2px;
	background-color: var(--white);
	height: calc(inherit - 10px);
	text-align: center;
	vertical-align: middle;
	overflow-y: auto;
	border-radius: 3px;
}

.side .message:nth-child(even),
.side .member:nth-child(even) {
	background-color: #f2f2f2;
}

/* mc pseudo classes */

.member {
	background-color: rgb(240, 217, 188);
	padding: 7px;
	display: flex;
	justify-content: space-between;
}

.member-num {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-11);
}

.member-name {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-10);
}

.member-score {
	font-family: xl200, var(--ff);
	font-weight: var(--fw-200);
	font-size: var(--fs-10);
}

.message {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-10);
	background-color: lightgrey;
	padding: 4px;
	text-align: left;
	overflow-x: hidden;
}

.message strong {
	font-family: m500, var(--ff);
	font-weight: var(--fw-500);
	font-size: var(--fs-10);
}

/* mc pseudo classes */

.chat-box {
	margin-top: 6px;
	display: flex;
	justify-content: center;
	height: fit-content;
}

.input-wrapper {
	position: relative;
}

.chat-box input {
	height: 25px;
	width: 180px;
	padding: 3px 30px 3px 10px;
	font-size: var(--fs-12);
	border-radius: 8px;
	text-align: left;
}

.input-wrapper span {
	font-family: t100, var(--ff);
	font-weight: var(--fw-100);
	font-size: var(--fs-11);
	position: absolute;
	right: 62px;
	top: 3px;
	line-height: 25px;
}

.chat-box .btn {
	padding: 6px;
	width: 50px;
}

@media screen and (min-width: 580px) {
	:root {
		--status-bar-h: 36px;
	}

	.status-bar > div span {
		font-size: var(--fs-14);
	}

	.overlay-text {
		font-size: var(--fs-20);
	}

	.word-option {
		font-size: var(--fs-17);
	}

	.mc-container {
		height: 300px;
	}

	.member {
		padding: 8px;
	}

	.member-num {
		font-size: var(--fs-13);
	}

	.member-name {
		font-size: var(--fs-14);
	}

	.member-score {
		font-size: var(--fs-13);
	}

	.message {
		font-size: var(--fs-13);
		padding: 6px;
	}

	.message strong {
		font-size: var(--fs-13);
	}

	.chat-box {
		margin-top: 10px;
	}

	.chat-box input {
		height: 30px;
		width: 200px;
		padding-right: 30px;
		font-size: var(--fs-15);
	}

	.input-wrapper span {
		right: 75px;
		top: 4px;
		font-size: var(--fs-13);
	}

	.chat-box .btn {
		padding: 4px;
		width: 65px;
	}
}

@media screen and (min-width: 768px) {
	:root {
		--status-bar-h: 42px;
	}

	.status-bar > div span {
		font-size: var(--fs-15);
	}

	.overlay-text {
		font-size: var(--fs-22);
	}

	.word-option {
		font-size: var(--fs-19);
	}

	.member {
		padding: 9px;
	}

	.member-num {
		font-size: var(--fs-14);
	}

	.member-name {
		font-size: var(--fs-16);
	}

	.member-score {
		font-size: var(--fs-14);
	}

	.message {
		font-size: var(--fs-14);
		padding: 7px;
	}

	.message strong {
		font-size: var(--fs-14);
	}

	.chat-box input {
		height: 35px;
		width: 220px;
		font-size: var(--fs-16);
	}

	.input-wrapper span {
		right: 84px;
		top: 7px;
		font-size: var(--fs-14);
	}

	.chat-box .btn {
		padding: 6px;
		width: 70px;
	}
}
