.content {
	height: fit-content;
}

.subtext {
	margin-bottom: 15px;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-content {
	width: 220px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	vertical-align: middle;
}

.form-content > div {
	height: 40px;
	display: flex;
	align-items: center;
	vertical-align: middle;
}

.form-label {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-14);
	margin-right: 10px;
}

.form-content input {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-13);
	height: 25px;
}

.form-content input.capacity {
	width: 30px;
	height: 22px;
}

.room-created-container {
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
	vertical-align: middle;
}

.copy-link-btn > div {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.img-container {
	display: flex;
	align-items: center;
	vertical-align: middle;
	margin-left: 6px;
}

.copy-link-img {
	width: 14px;
	height: 14px;
}

/* join.html */

input.clientName {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 4px;
	border-radius: 5px;
}

.register-form {
	width: 270px;
	margin-bottom: 15px;
}

@media screen and (min-width: 580px) {
	.form-content {
		width: 260px;
	}

	.form-content > div:first-child {
		margin-right: 15px;
	}

	.form-label {
		font-size: var(--fs-18);
	}

	.form-content input {
		font-size: var(--fs-16);
	}

	.room-created-container {
		margin: 20px auto 0 auto;
		width: 360px;
	}

	.copy-link-img {
		width: 20px;
		height: 20px;
	}

	/* join.html */

	.register-form {
		width: 350px;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 768px) {
	.form-content {
		width: 300px;
		justify-content: center;
	}

	.form-content > div:first-child {
		margin-right: 20px;
	}

	.form-label {
		font-size: var(--fs-20);
	}

	.form-content input {
		font-size: var(--fs-18);
	}

	.room-created-container {
		margin-top: 25px;
		width: 400px;
	}

	/* join.html */

	input.clientName {
		font-size: var(--fs-18);
	}

	.register-form {
		width: 450px;
		margin-bottom: 25px;
	}
}
