:root {
	--width: 360px;
	--col-width: calc(var(--width) / 3);
}

.main {
	display: flex;
	justify-content: center;
}

.form-container {
	background-color: #133695;
	color: var(--white);
}

.form-content {
	width: var(--width);
	display: grid;
	grid-template-columns: var(--col-width) var(--col-width) var(--col-width);
	grid-template-rows: auto;
}
.form-content > div {
	width: var(--col-width);
	margin-bottom: 5px;
}

.form-image-and-label {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 5px;
}
.form-image-and-label img {
	width: 25px;
	margin-right: 5px;
}
.form-image-and-label label {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-12);
}

.form-select-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-select-container select {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-12);
	height: 25px;
	width: calc(var(--col-width) - 10px);
	text-align: left;
}

.form-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

/*  */

.room-created-container {
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
	vertical-align: middle;
}

.copy-link-btn > div {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.img-container {
	display: flex;
	align-items: center;
	vertical-align: middle;
	margin-left: 6px;
}

.copy-link-img {
	width: 14px;
	height: 14px;
}

/* join.html */

input.clientName {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 4px;
	border-radius: 5px;
}

.register-form {
	width: 270px;
	margin-bottom: 15px;
}

@media screen and (min-width: 580px) {
	.form-content {
		width: 260px;
	}

	.form-content > div:first-child {
		margin-right: 15px;
	}

	.form-label {
		font-size: var(--fs-18);
	}

	.form-content input {
		font-size: var(--fs-16);
	}

	.room-created-container {
		margin: 20px auto 0 auto;
		width: 360px;
	}

	.copy-link-img {
		width: 20px;
		height: 20px;
	}

	/* join.html */

	.register-form {
		width: 350px;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 768px) {
	.form-content {
		width: 300px;
		justify-content: center;
	}

	.form-content > div:first-child {
		margin-right: 20px;
	}

	.form-label {
		font-size: var(--fs-20);
	}

	.form-content input {
		font-size: var(--fs-18);
	}

	.room-created-container {
		margin-top: 25px;
		width: 400px;
	}

	/* join.html */

	input.clientName {
		font-size: var(--fs-18);
	}

	.register-form {
		width: 450px;
		margin-bottom: 25px;
	}
}
