:root {
	--ff: 'Poppins', sans-serif;
	--fw-100: 100;
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--fw-800: 800;
	--fw-900: 900;

	--fs-8: 8px;
	--fs-9: 9px;
	--fs-10: 10px;
	--fs-11: 11px;
	--fs-12: 12px;
	--fs-13: 13px;
	--fs-14: 14px;
	--fs-15: 15px;
	--fs-16: 16px;
	--fs-17: 17px;
	--fs-18: 18px;
	--fs-19: 19px;
	--fs-20: 20px;
	--fs-21: 21px;
	--fs-22: 22px;
	--fs-23: 23px;
	--fs-24: 24px;

	--bg: #133695;
	--black: #1d1d1f;
	--white: #f5f5f7;
	--gray: #808080;

	--btn-primary-color: #53e236;
	--btn-inv-color: #e8e8e8;
	--btn-inv-color-hover: #656565;
	--drop-shadow: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.25));

	--scale-avatar-by: 3;
	--avatar-size: calc(var(--scale-avatar-by) * 48px);
	--avc-btn-size: calc(var(--scale-avatar-by) * 12px);

	--form-width: 340px;
	--col-width: calc(var(--form-width) / 3);

	/* app.html */
	--game-bar-h: 36px;
	--overlay-transition: opacity 0.3s ease-in-out;

	--game-bar-item-width: 24px;

	--min-brush-stroke-size: 6px;
	--pu-size: 30px;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url('../assets/images/background.png');
	background-repeat: repeat;
	background-color: var(--bg);
}

input {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-13);
	padding: 3px;
	border-radius: 4px;
	border: none;
	border-bottom: 2px solid var(--gray);
	text-align: center;
}

img {
	filter: var(--drop-shadow);
}

.btn {
	font-family: sb600, var(--ff);
	font-weight: var(--fw-600);
	font-size: var(--fs-12);
	color: var(--white);
	width: fit-content;
	height: fit-content;
	padding: 8px 10px 8px 10px;
	background-color: var(--btn-primary-color);
	border: none;
	border-radius: 6px;
	cursor: pointer;
}
.btn:hover {
	color: var(--black);
}
.btn:active {
	transform: translateY(1px);
}
.btn:disabled {
	background-color: var(--gray);
	color: var(--black);
	transform: none;
	cursor: not-allowed;
}
.btni {
	color: var(--black);
	background-color: var(--btn-inv-color);
}
.btni:hover {
	background-color: var(--btn-inv-color-hover);
	color: var(--white);
}

.hidden {
	display: none;
}

/* main */

.container {
	margin: 50px 10px;
	padding: 30px 20px;
	border-radius: 8px;
	background-color: var(--bg);
	color: var(--white);
}

.logo {
	padding: 0;
	display: flex;
	align-items: center;
	vertical-align: middle;
	background-color: transparent;
}
.logo img {
	width: 100%;
	margin: auto;
}

.start {
	text-align: center;
}
.start > div:not(:last-child) {
	margin-bottom: 20px;
}

/* avc - avatar customise */

.avatar-customisable {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.avatar {
	width: var(--avatar-size);
	height: var(--avatar-size);
	position: relative;
	image-rendering: pixelated; /* does not blur the image on resizing */
}

.avatar .color,
.avatar .eyes,
.avatar .mouth {
	width: var(--avatar-size);
	height: var(--avatar-size);
	position: absolute;
	top: 0;
	left: 0;
	background-position: 0 0;
	background-size: calc(
		var(--avatar-size) * 10
	); /* x10 because the atlas contains 10*10 images */
}

.avatar .owner,
.avatar .crowned {
	position: absolute;
	top: calc((var(--avatar-size) / 4) * -1);
	left: 0;
	width: calc(var(--avatar-size) / 2);
	height: calc(var(--avatar-size) / 2);
	background-position: 0 0;
	background-size: calc(var(--avatar-size) / 2);
}

.avatar .color {
	background-image: url('../assets/images/avatar/color_atlas.gif');
}
.avatar .eyes {
	background-image: url('../assets/images/avatar/eyes_atlas.gif');
}
.avatar .mouth {
	background-image: url('../assets/images/avatar/mouth_atlas.gif');
}
.avatar .owner.active {
	background-image: url('../assets/images/owner.gif');
	rotate: -30deg;
}
.avatar .crowned.active {
	background-image: url('../assets/images/crown.gif');
}

/* .avatar-customisable-btns */

.avc-lb-container,
.avc-rb-container {
	height: calc(var(--avc-btn-size) * 3);
	width: var(--avc-btn-size);
	position: relative;
	image-rendering: pixelated;
}

.avc-btn {
	background: none;
	width: var(--avc-btn-size);
	height: var(--avc-btn-size);
	border: none;
	cursor: pointer;
	background-image: url('../assets/images/arrow.gif');
	background-size: calc(
		var(--avc-btn-size) * 2
	); /* x2 because the atlas contains 2*2 images */
}

/* position the image in left & right buttons */
.avc-lb-container .avc-btn {
	background-position: 0 0;
}
.avc-rb-container .avc-btn {
	background-position: 0 calc(var(--avc-btn-size) * -1);
}

/* change image position on hover */
.avc-lb-container .avc-btn:hover {
	background-position: calc(var(--avc-btn-size) * -1) 0;
}
.avc-rb-container .avc-btn:hover {
	background-position: calc(var(--avc-btn-size) * -1)
		calc(var(--avc-btn-size) * -1);
}

/* translate btn to left/right */
.avc-rb-container .avc-btn:active {
	transform: translateX(3px);
}
.avc-lb-container .avc-btn:active {
	transform: translateX(-3px);
}

/* TODO */
.randomize {
	position: absolute;
	background-image: url('../assets/images/randomize.gif');
	width: 36px;
	height: 36px;
	background-size: 36px;
	top: -10px;
	right: 0;
	cursor: pointer;
}

.randomize:active {
	animation: shake 1s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-5deg);
	}
	20% {
		transform: translate(-6px, 0px) rotate(5deg);
	}
	30% {
		transform: translate(6px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(5deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-5deg);
	}
	60% {
		transform: translate(-6px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(6px, 1px) rotate(-5deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(5deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-5deg);
	}
}

/* avatar customise */

/* footer */

.title {
	font-family: b700, var(--ff);
	font-weight: var(--fw-700);
	font-size: var(--fs-16);
	margin-bottom: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
}
.title-image-container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title-image-container img {
	width: 30px;
}
.subtext {
	font-family: m500, var(--ff);
	font-weight: var(--fw-500);
	font-size: var(--fs-14);
	margin-bottom: 20px;
}

/* how to slide show */

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.slides {
	display: none;
}
.slides img {
	vertical-align: middle;
	width: 100%;
}
.slides p {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-14);
	color: var(--white);
	font-size: 15px;
	padding: 8px 12px;
	text-align: center;
}
.dot-container {
	text-align: center;
}
.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	cursor: pointer;
}
.dot.active {
	background-color: #717171;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* create room form */

.form-container {
	margin: 50px 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: var(--bg);
	border-radius: 8px;
	color: var(--white);
}

.form-content-grid {
	width: var(--form-width);
	display: grid;
	grid-template-columns: repeat(3, var(--col-width));
	grid-template-rows: auto;
	margin: 0 auto;
}
.form-content-grid > div {
	width: var(--col-width);
	margin-bottom: 5px;
}

.form-image-and-label {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 5px;
}
.form-image-and-label img {
	width: 25px;
	margin-right: 5px;
}
.form-container label {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-11);
}

.form-select-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-select-container select {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-12);
	height: 25px;
	width: calc(var(--col-width) - 10px);
	text-align: left;
	cursor: pointer;
}

.custom-words-container {
	margin: 0 auto;
	width: var(--form-width);
}
.custom-words-container > div {
	margin: 5px;
}
.custom-words-container textarea {
	font-family: xl200, var(--ff);
	font-weight: var(--fw-200);
	font-size: var(--fs-11);
	width: calc(var(--form-width) - 10px);
	height: 75px;
	resize: none;
}
.input-checkbox-container {
	display: inline;
	float: right;
}
.input-checkbox-container input {
	vertical-align: middle;
	cursor: pointer;
}

.form-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: calc(var(--form-width) - 10px);
}
.create-room-btn {
	width: calc(var(--form-width) - 10px);
}

.room-created-container {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 5px;
	width: calc(var(--form-width) - 10px);
}
.join-room-btn {
	width: calc(var(--form-width) - 10px);
}

/* join */

.join-room-form form > div:not(:last-child) {
	width: calc(var(--form-width) - 10px);
	margin: 0 auto 10px auto;
	text-align: center;
}
.play-btn-container {
	margin-top: 15px;
}
.form-btn-container .play-btn {
	width: calc(var(--form-width) - 10px);
}

/* game.html */

.btn {
	font-size: var(--fs-10);
	padding: 6px 8px 6px 8px;
}

.main {
	margin: 0 auto;
}

.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	visibility: none;
	justify-content: center;
	align-items: center;
}
.modal-content {
	background-color: var(--bg);
	margin: auto;
	padding: 20px;
	width: 60%;
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.modal-title {
	color: var(--white);
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-18);
	margin-bottom: 15px;
}
.close-modal {
	position: absolute;
	right: 15px;
	top: 10px;
	color: #aaa;
	font-size: var(--fs-20);
	font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
	color: var(--white);
	text-decoration: none;
	cursor: pointer;
}

.game-bar {
	height: var(--game-bar-h);
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--white);
	position: relative;
	border-radius: 3px;
}

.gb-item:not(:last-child) {
	text-align: center;
	height: var(--game-bar-h);
	width: var(----game-bar-item-width);
	position: relative;
}
.gb-item img {
	height: var(--game-bar-item-width);
}
.gb-item span {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-10);
}
.gb-item span.img-sub {
	position: absolute;
	top: var(--game-bar-item-width);
	left: 0;
	right: 0;
	line-height: calc(var(--game-bar-item-width) / 2);
}

.gb-item.timer {
	position: absolute;
	left: 5px;
}
.gb-item.round {
	position: absolute;
	left: calc(var(--game-bar-item-width) + 5px);
}

.gb-item.word span:only-child {
	display: flex;
	align-items: center;
}

.gb-item.word span.status {
	display: block;
	text-transform: uppercase;
}

.gb-item.word span.content {
	font-family: monospace;
}

.gb-item.joining-link-div {
	position: absolute;
	right: 5px;
}

/* canvas container */

.canvas-container {
	text-align: center;
	height: fit-content;
	margin-top: 4px;
	margin-bottom: 4px;
}

canvas {
	background-color: var(--white);
	cursor: pointer;
	border-radius: 3px;
}

#overlay {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 2;
	cursor: pointer;
	font-size: var(--fs-13);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	/* fade in animation on overlay display */
	-webkit-transition: var(--overlay-transition);
	-moz-transition: var(--overlay-transition);
	-ms-transition: var(--overlay-transition);
	-o-transition: var(--overlay-transition);
	transition: var(--overlay-transition);
}

/* overlay pseudo classes */

.overlay-content {
	padding: 10px;
	margin: 0 auto;
}
.overlay-content > div:not(:last-child) {
	margin-bottom: 15px;
}
.overlay-text {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-13);
}

.word-options {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.word-option {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-13);
	padding: 8px;
	background-color: rgb(50, 50, 50);
	border-radius: 5px;
	margin: 5px;
	border: 1px solid grey;
}
.word-option:hover {
	border: 1px solid var(--white);
}
.word-choose-timer {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-13);
	display: block;
	margin: 0 auto;
	width: 28px;
	min-width: 28px;
	padding: 4px;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}

/* paint utils */

.paint-utils {
	height: var(--pu-size);
	margin-bottom: 4px;
	display: flex;
	justify-content: space-between;
}
.paint-utils > div {
	width: calc(var(--pu-size) * 2 + 10px);
	height: var(--pu-size);
	display: flex;
	justify-content: space-around;
}

.pu {
	width: var(--pu-size);
	height: var(--pu-size);
	background-size: var(--pu-size);
	background-color: var(--white);
	border-radius: 2px;
	position: relative;
	cursor: pointer;
}
.pu.active {
	background-color: var(--bg);
}
.pu.active span {
	color: var(--white);
}

.pu span {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-8);
	position: absolute;
	top: 0;
	left: 2px;
}
.pu img.pu-img {
	width: var(--pu-size);
	position: absolute;
	top: 0;
	left: 2px;
	filter: grayscale(75%) var(--drop-shadow);
}
.pu:hover img.pu-img {
	filter: var(--drop-shadow);
}
.pu:active img {
	transform: translateY(2px);
}

/* brush color select */

.brush-color-select {
	background-color: black;
	position: relative;
}
.colors {
	position: absolute;
	top: calc((var(--pu-size) * 2 + 15px) * -1);
	left: 0;
	z-index: 3;
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: auto;
}
.color {
	width: var(--pu-size);
	height: var(--pu-size);
}
.color.active,
.color:hover {
	box-sizing: border-box;
	border: 2.5px solid #53e236;
	border-radius: 2px;
	transform: scale(1.05);
}

/* brush stroke width select */

.brush-stroke-select {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.brush-stroke-select img {
	filter: invert(100%) var(--drop-shadow);
	height: 6px;
	width: 6px;
}
.strokes {
	position: absolute;
	z-index: 3;
	top: calc((var(--pu-size) * 5 + 15px) * -1);
	left: 0;
	background-color: #aaa;
	display: flex-end;
	justify-content: center;
	border-radius: 2px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.stroke {
	width: var(--pu-size);
	height: var(--pu-size);
	background-size: var(--pu-size);
	background-image: url('../assets/images/size.gif');
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(100%);
}
.stroke#s1 {
	background-size: var(--min-brush-stroke-size);
}
.stroke#s2 {
	background-size: calc(var(--min-brush-stroke-size) * 2);
}
.stroke#s3 {
	background-size: calc(var(--min-brush-stroke-size) * 3);
}
.stroke#s4 {
	background-size: calc(var(--min-brush-stroke-size) * 4);
}
.stroke#s5 {
	background-size: calc(var(--min-brush-stroke-size) * 5);
}
.stroke.active {
	background-color: purple;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #aaa;
	position: absolute;
	top: -15px;
	left: 0;
	z-index: 3;
}

/* overlay pseudo classes */

.pc-container {
	height: 270px;
	display: flex;
	justify-content: center;
}
.side {
	width: 48%;
	height: inherit;
	margin-left: 2px;
	margin-right: 2px;
	background-color: var(--white);
	text-align: center;
	vertical-align: middle;
	overflow-y: auto;
	border-radius: 3px;
}
.side.players {
	height: fit-content;
}
.side .message:nth-child(even),
.side .player:nth-child(even) {
	background-color: #aaa;
}

/* pc pseudo classes */

.player {
	background-color: var(--white);
	padding: 2px 5px;
	display: flex;
	justify-content: space-between;
}
.player .num {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-10);
}
.player .name {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-9);
	display: block;
	clear: both;
}
.player .score {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-8);
	display: block;
	line-height: calc(var(--fs-10) - 2px);
}

.message {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-8);
	background-color: lightgrey;
	padding: 4px;
	text-align: left;
	overflow-x: hidden;
}
.message strong {
	font-family: m500, var(--ff);
	font-weight: var(--fw-500);
	font-size: var(--fs-8);
}

/* mc pseudo classes */

.chat-box {
	margin-top: 6px;
	display: flex;
	justify-content: center;
	height: fit-content;
}
.input-wrapper {
	position: relative;
}
.input-wrapper input {
	height: 20px;
	width: 180px;
	padding: 3px 30px 3px 10px;
	font-size: var(--fs-10);
	border-radius: 4px;
	text-align: left;
	border: none;
}
.input-wrapper span {
	font-family: l200, var(--ff);
	font-weight: var(--fw-200);
	font-size: var(--fs-9);
	position: absolute;
	right: 62px;
	top: 4px;
	line-height: 20px;
}
.input-wrapper .btn {
	padding: 6px;
	width: 50px;
}

.hidden {
	display: none;
}

/* larger than 580px */

@media screen and (min-width: 580px) {
	:root {
		--form-width: 450px;
	}

	.container {
		padding: 30px 50px;
		margin: 50px 30px;
	}

	.logo img {
		width: 90%;
	}

	.start .subtext {
		font-size: var(--fs-24);
	}
}
