:root {
	--bg: #1dbdf2;

	--ff: 'Poppins', sans-serif;
	--fw-100: 100;
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--fw-800: 800;
	--fw-900: 900;

	--fs-8: 8px;
	--fs-9: 9px;
	--fs-10: 10px;
	--fs-11: 11px;
	--fs-12: 12px;
	--fs-13: 13px;
	--fs-14: 14px;
	--fs-15: 15px;
	--fs-16: 16px;
	--fs-17: 17px;
	--fs-18: 18px;
	--fs-19: 19px;
	--fs-20: 20px;
	--fs-21: 21px;
	--fs-22: 22px;
	--fs-23: 23px;
	--fs-24: 24px;

	--black: #1d1d1f;
	--white: #f5f5f7;

	--scale-avatar-by: 3;
	--randomize-icon-size: 36px;
	--avatar-size: calc(var(--scale-avatar-by) * 48px);
	--avc-btn-size: calc(var(--scale-avatar-by) * 12px);

	--form-width: 360px;
	--col-width: calc(var(--form-width) / 3);
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url('../assets/images/background.png');
	background-repeat: repeat;
	background-color: #133695;
}

input {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-13);
	padding: 3px;
	border-radius: 4px;
	border: none;
	border-bottom: 2px solid grey;
	text-align: center;
}

.btn {
	font-family: sb600, var(--ff);
	font-weight: var(--fw-600);
	font-size: var(--fs-12);
	color: var(--white);
	width: fit-content;
	height: fit-content;
	padding: 8px 10px 8px 10px;
	background-color: #53e236;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}
.btn:hover {
	background-color: #3aa262;
}
.btn:active {
	transform: translateY(1px);
}
.btn:disabled {
	background-color: gray;
	transform: none;
	cursor: not-allowed;
}
.btni {
	color: var(--black);
	background-color: #e8e8e8;
}

.hidden {
	display: none;
}

/* main */

.container {
	margin: 50px 10px;
	border-radius: 8px;
	background-color: #133695;
	color: var(--white);
	padding: 30px 20px;
}

.logo {
	padding: 0;
	display: flex;
	align-items: center;
	vertical-align: middle;
	background-color: transparent;
}

.logo img {
	width: 100%;
	margin: auto;
	filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.25));
}

.start {
	text-align: center;
	margin-bottom: 100px;
}

.start > div:not(:last-child) {
	margin-bottom: 20px;
}

/* avc - avatar customise */

.avatar-customisable {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.avatar {
	width: var(--avatar-size);
	height: var(--avatar-size);
	position: relative;
	image-rendering: pixelated; /* does not blur the image on resizing */
}

.color,
.eyes,
.mouth {
	width: var(--avatar-size);
	height: var(--avatar-size);
	position: absolute;
	top: 0;
	left: 0;
	background-position: 0 0;
	background-size: calc(
		var(--avatar-size) * 10
	); /* x10 because the atlas contains 10*10 images */
}

.owner,
.special {
	position: absolute;
	top: calc((var(--avatar-size) / 4) * -1);
	left: 0;
	width: calc(var(--avatar-size) / 2);
	height: calc(var(--avatar-size) / 2);
	background-position: 0 0;
	background-size: calc(var(--avatar-size) / 2);
}

.color {
	background-image: url('../assets/images/avatar/color_atlas.gif');
}
.eyes {
	background-image: url('../assets/images/avatar/eyes_atlas.gif');
}
.mouth {
	background-image: url('../assets/images/avatar/mouth_atlas.gif');
}
.owner.active {
	background-image: url('../assets/images/owner.gif');
	rotate: -30deg;
}
.special.active {
	background-image: url('../assets/images/crown.gif');
}

/* btns */

.avc-lb-container,
.avc-rb-container {
	height: calc(var(--avc-btn-size) * 3);
	width: var(--avc-btn-size);
	position: relative;
	image-rendering: pixelated;
}

.avc-btn {
	background: none;
	width: var(--avc-btn-size);
	height: var(--avc-btn-size);
	border: none;
	cursor: pointer;
	background-image: url('../assets/images/arrow.gif');
	background-size: calc(
		var(--avc-btn-size) * 2
	); /* x2 because the atlas contains 2*2 images */
}

/* position the image in left & right buttons */
.avc-lb-container .avc-btn {
	background-position: 0 0;
}
.avc-rb-container .avc-btn {
	background-position: 0 calc(var(--avc-btn-size) * -1);
}

/* change image position on hover */
.avc-lb-container .avc-btn:hover {
	background-position: calc(var(--avc-btn-size) * -1) 0;
}
.avc-rb-container .avc-btn:hover {
	background-position: calc(var(--avc-btn-size) * -1)
		calc(var(--avc-btn-size) * -1);
}

/* translate btn to left/right */
.avc-rb-container .avc-btn:active {
	transform: translateX(3px);
}
.avc-lb-container .avc-btn:active {
	transform: translateX(-3px);
}

.randomize {
	position: absolute;
	background-image: url('../assets/images/randomize.gif');
	width: var(--randomize-icon-size);
	height: var(--randomize-icon-size);
	background-size: var(--randomize-icon-size);
	top: -10px;
	right: 0;
	cursor: pointer;
}

.randomize:active {
	animation: shake 1s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-5deg);
	}
	20% {
		transform: translate(-6px, 0px) rotate(5deg);
	}
	30% {
		transform: translate(6px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(5deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-5deg);
	}
	60% {
		transform: translate(-6px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(6px, 1px) rotate(-5deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(5deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-5deg);
	}
}

/* avatar customise */

.title {
	font-family: b700, var(--ff);
	font-weight: var(--fw-700);
	font-size: var(--fs-16);
	margin-bottom: 15px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.title-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-image-container img {
	width: 30px;
}

.title-text {
	margin: 0 auto 0 auto;
}

.subtext {
	font-family: m500, var(--ff);
	font-weight: var(--fw-500);
	font-size: var(--fs-14);
	margin-bottom: 20px;
}

/* how to slide show */

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.slides {
	display: none;
}

.slides img {
	vertical-align: middle;
	width: 100%;
}

.slides p {
	font-family: r400, var(--ff);
	font-weight: var(--fw-400);
	font-size: var(--fs-14);
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	text-align: center;
}

.dot-container {
	text-align: center;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	cursor: pointer;
}

.dot.active {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/* create form */

.form-container {
	margin: 50px 10px;
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: #133695;
	border-radius: 8px;
	color: var(--white);
}

.form-content-grid {
	width: var(--form-width);
	display: grid;
	grid-template-columns: var(--col-width) var(--col-width) var(--col-width);
	grid-template-rows: auto;
	margin: 0 auto;
}
.form-content-grid > div {
	width: var(--col-width);
	margin-bottom: 5px;
}

.form-image-and-label {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 5px;
}
.form-image-and-label img {
	width: 25px;
	margin-right: 5px;
}
.form-container label {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-11);
}

.form-select-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-select-container select {
	font-family: l300, var(--ff);
	font-weight: var(--fw-300);
	font-size: var(--fs-12);
	height: 25px;
	width: calc(var(--col-width) - 10px);
	text-align: left;
	cursor: pointer;
}

.custom-words-container {
	margin: 0 auto;
	width: var(--form-width);
}
.custom-words-container > div {
	margin: 5px;
}
.custom-words-container textarea {
	font-family: xl200, var(--ff);
	font-weight: var(--fw-200);
	font-size: var(--fs-11);
	width: calc(var(--form-width) - 10px);
	height: 75px;
	resize: none;
}
.input-checkbox-container {
	display: inline;
	float: right;
}
.input-checkbox-container input {
	vertical-align: middle;
	cursor: pointer;
}

.form-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: calc(var(--form-width) - 10px);
}
.create-room-btn {
	width: calc(var(--form-width) - 10px);
}

.room-created-container {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 5px;
	width: calc(var(--form-width) - 10px);
}
.join-room-btn {
	width: calc((var(--col-width) * 2) - 10px);
}
.copy-link-btn {
	width: calc((var(--col-width) * 1) - 10px);
}
.copy-link-btn > div {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}
.copy-link-btn .img-container {
	display: flex;
	align-items: center;
	vertical-align: middle;
	margin-left: 6px;
}
.copy-link-img {
	width: 14px;
	height: 14px;
}

/* create form */

@media screen and (min-width: 580px) {
	.btn {
		font-size: var(--fs-16);
	}

	.content {
		height: 230px;
	}

	.title {
		font-size: var(--fs-20);
	}

	.subtext {
		font-size: var(--fs-18);
		margin-bottom: 25px;
	}
}

@media screen and (min-width: 768px) {
	.btn {
		font-size: var(--fs-18);
		padding: 10px 12px 10px 12px;
	}

	.content {
		height: 280px;
		width: 80%;
	}

	.title {
		font-size: var(--fs-22);
		margin-bottom: 20px;
	}

	.subtext {
		font-size: var(--fs-20);
		margin-bottom: 30px;
	}
}
