:root {
	--bg: #add8e6;
	--fw-100: 100;
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;

	--fs-0: 10px;
	--fs-1: 11px;
	--fs-2: 12px;
	--fs-3: 13px;

	--black: #1d1d1f;
	--white: #f5f5f7;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.main {
	height: 100vh;
	background-color: var(--bg);
}

.content {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title {
	font-weight: var(--fw-500);
	margin-bottom: 20px;
}

.subtext {
	margin-bottom: 20px;
}

.btn {
	width: fit-content;
	height: fit-content;
	background-color: rgb(49, 49, 49);
	color: var(--white);
	padding: 6px;
	font-size: 12px;
	border-radius: 12px;
	cursor: pointer;
	border: 1px solid rgb(100, 100, 100);
}

.btn:hover {
	border: 1px solid rgb(187, 187, 187);
}

.btn:active {
	transform: translateY(1px);
}

.form-label {
	font-weight: var(--fw-200);
	font-size: 15px;
}

#clientName {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 5px;
}

.form-btn {
	margin-top: 10px;
}

.hidden {
	display: none;
}
