{{ define "header" }}

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	{{ if .debug }}
	<link rel="stylesheet" href="public/css/fonts.css" />
	<script>
		console.log('loading offline fonts');
	</script>
	{{ else }}
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet"
	/>
	{{ end }}

	<link
		rel="shortcut icon"
		href="public/assets/images/icon.ico"
		type="image/x-icon"
	/>

	{{ range $val := .StyleSheets }}
	<link rel="stylesheet" href="public/css/{{ $val }}.css" />
	{{ end }}

	<!-- display client name on title of the browser -->
	{{ if .ClientNameExists }}
	<title>scribble · {{ .ClientName }}</title>
	{{ else }}
	<title>scribble</title>
	{{ end }}
</head>

{{ end }}
